# Workspace secrets
values-secrets.yml
secrets.yml
connections/

# Python
__pycache__/
logs/

# Airflow
airflow.db
airflow.cfg
webserver_config.py

# MlFlow
mlruns/

# VSCode
.vscode/
